@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,700,700i');

*{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

/*-----------------------
      navbar header
------------------------*/

header{
	background: #3aafa9;
	border-top: 3px solid #17252a;
}

.container-box{
	padding: 0 50px;
}

#navbar ul li {
    padding: 14px 13px;
}

#navbar ul li a {
    color: #feffff;
    font-size: 18px;
    font-weight: 700;
}

/*-----------------------
          quote
------------------------*/

.wrapper-quote{
	background: #def2f1;
}

.padding-box{
	padding:50px;
}

.btn-karya{
	float: right;
	background: #3aafa9;
	color: #feffff;
	padding: 8px 12px;
	border-radius: 0;
}

.display-table {
    display: table;
    table-layout: fixed;
}

.display-cell{
	display: table-cell;
	vertical-align: middle;
	float: none;
}

/*-----------------------
       thumb city
------------------------*/

.card{
	margin: 12px;
	border: none;
	background: #def2f1;
	box-shadow: 0 5px 6px -6px #17252a;
}

.bg-thumb-city{
	background: #feffff;
}

.btn-explore{
	background: #3aafa9;
	color: #feffff;
}

.title-city h3{
	text-align: center;
	padding-bottom: 10px;
	color: #17252a;
}

/*-----------------------
       from blog
------------------------*/

.bg-img{
	background-image: url("asset/blog.jpg");
	background-repeat: no-repeat;
	padding: 50px;
}

.bg-color{
	background: rgba(43,122,120,0.8); 
	position: relative;
	padding: 20px 25px;
	border-radius: 5px;
}

.bg-color h3{
	color: #feffff;
	padding-bottom: 10px;
	text-align: center;
}

.card-recent{
	background-color: #feffff;
	box-shadow: 0 5px 6px -6px #17252a;
	border-radius: 3px;
}

/*-----------------------
       about city
------------------------*/

.card-city{
	background-color: transparent;	
}

/*-----------------------
         footer
------------------------*/

footer{
	background-color: #17252a;
}

.padding-footer{
	padding: 30px 50px;
}

.padding-footer h6{
	color: #feffff;
}

.footer-copy{
	border-top: 1px solid #feffff;
	padding: 10px 5px;
}

.footer-copy p{
	color: #feffff;
	text-align: center;
	margin-bottom: 0;
}

.footer-nav-link ul li a{
	color: #feffff;
}




@media (max-width: 576px) {
	.display-cell{
		display: inline-block;
	}
	.button-karya{
		float: left;
		margin-top: 18px;
	}
	.padding-box{
		padding: 35px 20px;
	}
	.container-box{
		padding: 0 10px;
	}
	#navbar ul li {
    	padding: 0px 0px;
	}
	#navbar ul li a {
    	font-size: 13px;
	}
	.display-cell p{
		font-size: 12px;
	}
	.card{
		margin: 12px 6px;
	}
	.bg-img{
		padding: 35px 20px;
	}
	.bg-color{
		padding: 20px 5px;
	}
	.padding-footer{
		padding: 20px;
	}

}































